X@media screen and (max-width: 720px) 
{
	.text-sm-left{
	font-size: 85%;
	}
}

X@media screen and (max-width: 575.5px)
{ 
	.text-sm-left{
	font-size: 100%;
	}
	
	.Ximg-responsive{
	width: 60%;
	height: auto;
	width: auto\9
	}
}

.text-sm-left
{
	padding-top: 5px;
	padding-bottom: 15px;
}

.img-responsive
{
	border: solid 1px; 
	border-color: #b3b3b3;
}

h3
{
	padding-top: 30px;
}
